body
{
	background: url(images/bg.gif) repeat-x top #8ca6a2;
	margin: auto;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333333;
}
.clear{
clear:both;
}
h2{
font-size:13px;
color:#666666;
margin:0px;
padding:3px;
}
h3{
font-size:14px;
color:#666666;
margin:0px;
padding:3px;
}
#main_content{
	width: 900px;
	height: auto;
	margin: auto;
	background-color: #FFFFFF;
}
#top_banner{
	width: 900px;
	height: 200px;
	background: url(images/Z.jpg) no-repeat center;
}
#left_logo{
width:280px;
height:55px;
float:left;
padding:28px 0 0 22px;
}
ul.menu {
	list-style-type: none;
	float: left;
	display: block;
	width: 900px;
	height: 30px;
	clear: both;
	margin: 0;
	padding: 0;
	background-color: #002763;
}

ul.menu li {
display:inline;}

a.nav:link, a.nav:visited {
	display: block;
	float: left;
	padding: 0 7px 0 6px;
	margin: 0;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	background-color: #4CBFE3;
	color: #000000;
}
a.nav_even:link, a.nav_even:visited {
	display: block;
	float: left;
	padding: 0 7px 0 6px;
	margin: 0;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	background-color: #C5C5C5;
	color: #000000;
}

a.nav:hover, a.nav_even:hover{
display:block; float:left; padding:0 7px 0 6px; margin:0;width:100px; height:25px; text-align:center; line-height:25px;
text-decoration:none;  background-color:#000000;  color:#FFFFFF;
}
form {
	width: auto;
	margin: auto;
	float: right;
		}
		.search {
			padding:8px 15px;
			background:rgba(50, 50, 50, 0.2);
			border:0px solid #dbdbdb;
		}
		.button {
	position: relative;
	padding: 6px 15px;
	left: -8px;
	border: 2px solid #667E01;
	background-color: #667E01;
	color: #fafafa;
		}
		.button:hover  {
			background-color:#fafafa;
			color:#207cca;
		}
				  
		::-webkit-input-placeholder { 
			color:    #dd3333;
						font-family:Helvetica Neue;
						font-weight:bold;
		}
		:-moz-placeholder {
			color:    #dd3333;
						font-family:Helvetica Neue;
						font-weight:bold;
		}
		::-moz-placeholder { 
			color:    #dd3333;
						font-family:Helvetica Neue;
						font-weight:bold;
		}
		:-ms-input-placeholder { 
			color:    #dd3333;
						font-family:Helvetica Neue;
						font-weight:bold;
		}	  
#page_content{
padding:0 0 20px 0;
}
#left_section{
	width: 568px;
	height: auto;
	float: left;
	background: url(images/top_left_corner.gif) no-repeat top left;
}
.title{
	font-size: 19px;
	font-weight: bold;
	padding-left: 5px;
	padding: 25px 0 0 45px;
	color: #0E2349;
}
.text_content{
	width: 500px;
	color: #666666;
	margin: 23px 0 0 45px;
	line-height: 16px;
	text-align: justify;
}
.text_content a{
text-decoration:none;
color:#666666;
background-color:#D2F344;
}
.text_content a:hover{
text-decoration:none;
color:#000000;
background-color:#D2F344;
}
#gray_box_border{
	width: 500px;
	height: auto;
	background-color: #FFFFFF;
	border: 1px #E4E4E4 solid;
	margin: 20px 0 0 35px;
}
#gray_box_content{
	width: 487px;
	color: #666666;
	margin: 5px;
	background-color: #ebeaca;
	padding: 5px;
	display: block;
}
#gray_box_content a{
	color: #05025B;
	display: block;
	text-decoration: underline;
}
ul.box {
	list-style-type: none;
	float: left;
	width: auto;
	height: 30px;
	clear: both;
	margin: 0;
	padding: 0;
	background-color: #002763;
	text-decoration: underline;
	display: block;
}

ul.box li {
	display: block;
	text-decoration: underline;
}

a.nav:link, a.nav:visited {
	display: block;
	float: left;
}
a.nav_even:link, a.nav_even:visited {
	display: block;
	float: left;
}

a.nav:hover, a.nav_even:hover{
display:block; float:left; padding:0 7px 0 6px; margin:0;width:100px; height:25px; text-align:center; line-height:25px;
text-decoration:none;  background-color:#000000;  color:#FFFFFF;
}  

#sublist li{
	color: #143258;
}
#right_section{
	width: 285px;
	height: auto;
	float: left;
	margin-left: 20px;
}
.title2{
	font-size: 16px;
	padding-left: 5px;
	padding: 25px 0 0 5px;
	font-weight: bold;
	color: #667E01;
}
.text_content2{
	width: 270px;
	color: #666666;
	margin: 23px 0 0 5px;
	line-height: 16px;
	text-align: justify;
}
.read_more_box{
width:220px;
height:18px;
margin:23px 0 0 5px;
border-top:1px #CCCCCC dashed;
}
a img.more{
float:right;
}
#read_more_box_left{
width:460px;
height:18px;
margin:23px 0 0 45px;
border-top:1px #CCCCCC dashed;
}
#custom{
width:227px;
height:92px;
margin:5px;
}
#footer{
	width: 900px;
	height: 65px;
	clear: both;
	background: url(images/fo.jpg) no-repeat left;
}
.footer_links{
float:left;
padding:10px;
}
.footer_links a{
	text-decoration: none;
	padding: 0 8px 0 8px;
	color: #FFFFFF;
}
.footer_links a:hover{
text-decoration:underline;
}
.copyright{
	float: right;
	padding-right: 15px;
	padding-top: auto;
}
